{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ApiSettings": {
    "GitHubToken": "ghp_your_github_personal_access_token_here",
    "LinkedInAccessToken": "your_linkedin_oauth_access_token_here",
    "LinkedInClientSecret": "your_linkedin_client_secret_here",
    "LinkedInProfileId": "lukseh74"
  }
}
